/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: #1d1f2f;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Align the content and the image */
section {
  display: flex;
  justify-content: space-between; /* Pushes the content to the left and image to the right */
  align-items: center;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

section img {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}






